/* text type related */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}